@import "tailwindcss";

:root {
  --background: #ffffff; /* Forced White */
  --foreground: #111827;
}

/* Is poore block ko hata dein */
/* @media (prefers-color-scheme: dark) { ... } */

body {
  background-color: var(--background);
  color: var(--foreground);
  /* Font ko geist sans par set karein */
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui;
}